{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<header class="{{ include.wrapperclasses }}" id="stickyHeader">
  <div class="header-name">
    <h3><a class="home-link" href="{{ site.url }}">{{ site.author }}</a></h3>
  </div>
  {%- if page_paths -%}
  <nav class="header-nav-desktop">
    {%- assign iterator = 1 -%}
    {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
        <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- if iterator < page_paths.size -%}
          &nbsp; &#8226; &nbsp;
        {%- endif -%}
        {%- assign iterator = iterator | plus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
  </nav>
  {%- endif -%}
  <button class="menu" id="menu" aria-label="Main Menu" onclick="this.classList.toggle('opened'); hamburgerFunction();">
    <svg width="50" height="50">
      <path class="sline sline1" d="M 12,16.5 H 42 L 17,37.5"/>
      <path class="sline sline2" d="M 12,27 H 42" />
      <path class="sline sline3" d="M 12,37.5 H 42 L 17,17.5" />
      <path class="line line1" d="M 10,14.5 H 40 L 15,35.5"/>
      <path class="line line2" d="M 10,25 H 40" />
      <path class="line line3" d="M 10,35.5 H 40 L 15,14.5" />
    </svg>
  </button>
  {%- if page_paths -%}
  <div class="menu-nav-mobile" id="mobileMenu"> 
    <nav class="mobile-nav">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <h3><a class="menu-nav-link" onclick="mobileNavClicked()" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></h3>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
  {%- endif -%}
</header>

