<header class="wrapper is-shrunken-nav {{include.wrapperclasses}}" id="stickyWrapper">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="top-spacer is-shrunken-nav"></div>
  <div class="center-hero is-shrunken-nav">
    <h1 class="is-shrunken-nav name-nav"><a href="{{ site.url }}" class="home-link">{{ site.author }}</a></h1>
    {%- if page_paths -%}
    <nav class="main-nav is-shrunken-nav">
      {%- assign iterator = 1 -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {%- if iterator == 1 -%}
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- else -%}
            {%- capture down_link -%}/#{{my_page.title | escape}}{%- endcapture -%}
            <a class="nav-link" href="{{ site.url | append: down_link }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
          {%- if iterator < page_paths.size -%}
            &nbsp; &#8226; &nbsp;
          {%- endif -%}
          {%- assign iterator = iterator | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
    </nav>
  {%- endif -%}
  </div>
  <div class="bottom-arrow is-shrunken-nav" id="arrowNav" onclick="arrowFunction()">
    <div class="down-arrow is-shrunken-nav" id="downArrow">
    </div>
  </div>
  {%- if page_paths -%}
  <div class="is-shrunken-nav" id="mobileMenu"> 
    <nav class="mobile-menu-nav is-shrunken-nav">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a class="mobile-nav-link is-shrunken-nav" onclick="mobileNavClicked()" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
  {%- endif -%}
</header>

