{%- assign authornames = site.author | split: " " -%}
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<section class="section-hero" id="hero">
    <div class="hero-horizontal-flex">
      <div class="hero-image"></div>
      <div class="hero-grid-right">
        <div></div>
        <div class="hero-grid-pane">
          <h1>{{authornames.first}}<!-- <span class="breaker"></span> -->&nbsp;{{authornames.last}}</h1>
          {%- if page_paths -%}
          <nav class="main-nav"> 
            {%- assign iterator = 1 -%}
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
                <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- if iterator < page_paths.size -%}
                  &nbsp; <!-- &#8226; --> | &nbsp;
                {%- endif -%}
                {%- assign iterator = iterator | plus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
          </nav>
          {%- endif -%}
        </div>
        <div></div>
      </div>
    <a class="bottom-arrow" href="#promotion"><div class="down-arrow"></div></a>
    </div>
</section>