<section id="promotion">
    <div class="top-spacer" id="bookSpacer"></div>
    <div class="book-hero">
      <div class="book-image resize">
        <img src="{{ "/assets/pigedyr_render_transparent.png" | relative_url }}" alt="Cecilie Lind - Pigedyr" height="auto">
      </div>
      <div class="book-blurb">
        <div class="book-wrapper">
          <h3 class="book-title">En Kat</h3>
        </div>
        <div class="book-talk">this is the book where it turns out i was a cat all along. i've just been putting meows into google translate</div>
        <div class="book-wrapper">
          <button class="hero-buy">BUY NOW</button>
        </div> 
      </div>
    </div> 
    <div class="click-through">
      <a class="click-through-link" href="/boger.html">Alle B&oslash;ger &rarr;</a>
    </div>
</section>