<section id="promotion">
  <div class="section-horizontal-flex" >
    <div class="hero-grid-left">
      <div></div>
      <div class="hero-grid-pane left">
        <img class="book-hero" src="{{ "/assets/pigedyr_render_transparent.png" | relative_url }}" alt="Cecilie Lind - Pigedyr" height="auto">
      </div>
      <div></div>
    </div>
    <div class="hero-grid-right">
      <div></div>
      <div class="hero-grid-pane">
        <h2>En Kat</h2>
        <p>this is the book where it turns out i was a cat all along. i've just been putting meows into google translate</p>
        <button class="hero-buy">BUY NOW</button>
      </div>
      <div class="click-through">
        <h3><a class="click-through-link" href="{{ site.url | append: "/boeger" }}">Alle B&oslash;ger &rarr;</a></h3>
      </div>
    </div>
  </div>
</section>