* {
    box-sizing: border-box;
  }
  
  html {
    background-color: #fff;
  }
    
  body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background: url($baseurl + "/assets/photo_white.png") no-repeat 15% bottom;
    background-size: clamp(30%, 65vh, 625px);
    overflow: hidden;
  }
  
  .no-bg {
    background: none !important;
    overflow: visible !important;
  }
  
  #hero {
    display: block;
    padding: 0 0 0 0;
  }

  .center-block {
    width: 100%;
    text-align: center;
  }
  
  .hidden {
    display: none !important;
    opacity: 0;
  }
  
  .sticky {
    position: sticky !important; 
    top: 0;
  }
  
  .absolute {
    position: absolute !important; 
    top: 0;
  }
  
  .no-padding {
    padding: 0 0 0 0 !important;
  }
  
  .no-shrink-list {
    font-size: 2rem !important;
  }
  
  .book-list, .book-box {
    display: flex;  
    flex-direction: column;
    align-items: center;
  }
  
  .book-list-title {
    text-align: center;
    width: #{"min(80vw, 80%)"};
  }
  
  .scroll-container {
    height: var(--rh);
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    z-index:2;
  }
  
  .bottom {
    position: absolute !important;
    z-index: 0 !important;
  }
  
  #promotion, #om, #kontakt {
    isolation: isolate;
  }
  
  section {
    width: 100%;
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr auto 1fr;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  
  section, .wrapper {
    min-height: var(--rh);
    padding: 1rem;
  }
  
  section:nth-child(2n) {
    background-color: rgba(237,229,216,1);
  }
  
  section:nth-child(3n) {
    background-color: rgba(199,149,95,1);
  }
  
  h1 {
    font-family: Avenir-Black, Arial Black,Arial Bold,Gadget,sans-serif; 
    font-size: 8rem;
    color: white;
    text-shadow: 2px 2px 0px #000000;
    text-align: right;
    padding: 0;
    margin: 0;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-timing-function:ease-in-out;
    line-height: 1;
  }
  
  #breaker::after {
    content: "\A";
    white-space: pre;
  }
  
  #breaker.is-shrunken-nav::after {
    content: " ";
  }
  
  .main-nav {
    font-family: Avenir-Black, Arial Black,Arial Bold,Gadget,sans-serif; 
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 0px #000000;
    text-align: right;
    padding-top: 4rem;
  }
  
  .nav-link:link, .nav-link:visited, .home-link:link, .home-link:visited, .click-through-link:link, .click-through-link:visited {
    color: inherit;
  }
  
  .home-link, .click-through-link {
    text-decoration: none;
  }
  
  .nav-link, .nav-link:visited, .nav-link:link, .nav-link:active, .mobile-nav-link, .mobile-nav-link:visited, .mobile-nav-link:link, .mobile-nav-link:active {
    text-decoration: none;
    text-decoration-color: rgba(255, 255, 255, 0);
    transition-property: text-decoration-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  
  @media (hover:hover) {
    .nav-link:hover, .mobile-nav-link:hover {
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 1);
    }
  
    .click-through-link:hover {
      text-decoration: underline;
    }
  }
  
  .wrapper {
    height: 100%;
    display: inline-grid;
    grid-template-rows: 1fr auto 1fr;
    mix-blend-mode: difference;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
  } 
  
  .wrapper.is-shrunken-nav {
    mix-blend-mode:inherit;
    pointer-events: auto;
  }
  
  .bottom-menu {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .wrapper > *:last-child {
    white-space: nowrap;
    align-items: center;
  }
  
  .bottom-arrow {
    width: 25px;
    animation: bounce 1600ms infinite ease-in-out;
    cursor: pointer;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  
  .down-arrow {
    height: 6px;
    width: 25px;
    background: white;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    transition: transform .25s ease-in-out, width .25s ease-in-out;
    border-radius: 5px;
  }
  
  .down-arrow:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: white;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
    transition: transform .25s ease-in-out, width .25s ease-in-out;
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }
  
  .center-hero {
    display: flex;
    flex-direction: row;
  }
  
  .wrapper {
    width: 100%;
    background: transparent;
    z-index: 3;
    float:left; 
    shape-outside:linear-gradient(transparent,transparent);
    scroll-snap-align:none;
    scroll-snap-stop:normal;
    pointer-events: none;
    transition-property: all 0.75s ease-out;
  }
  
  .nav-link, .bottom-arrow {
    pointer-events: auto;
  }
  
  .name-nav.is-shrunken-nav {
    pointer-events: auto;
  }
  
  .wrapper.is-shrunken-nav {
    background-color: rgba(220, 220, 220, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0px 1px 4px rgba(220, 220, 220, 0.25);
    min-height: 0;
    height:auto;
  }
  
  .center-hero.is-shrunken-nav {
    padding-right: 0;
    display: block;
  }
  
  .main-nav.is-shrunken-nav {
    text-align: center;
  }
  
  h1.is-shrunken-nav {
    font-size: 2.5rem;
    text-align: center;
    line-height: normal;
  }
  
  .main-nav.is-shrunken-nav {
    font-size: 1rem;
    padding-top: 0;
  }
  
  .bottom-arrow.is-shrunken-nav {
    display: none;
  }
  
  #mobileMenu {
    display: none;
  }
  
  .section-title {
    margin-top: auto;
    padding-top: 5%;
  }
  
  .book-hero {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .book-image img {
    min-width: 140.75px;
    min-height: 240.5px;
    max-height: 500px;
    float: right;
  }
  
  .resize img {
    max-width: 75%;
  }
  
  .book-blurb {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5%;
  }
  
  .click-through {
    display:flex;
    align-items: center;
    justify-content: right;
  }
  
  .click-through-link {
    margin-left: auto;
    padding-right: 5%;
    font-family: Avenir-Black, Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .book-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    display: flex;
  }
  
  h3 {
    font-family: Avenir-Black, Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 5rem;
  }
  
  .book-image {
    flex-grow: 1;
    flex-basis: 0;
    width: 50%;
    padding-right: 2.5%;
  }
  
  .book-list-image {
    text-align: center;
  }
  
  img {
    transition: transform 0.2s ease-in;
  }
  
  .book-box:hover img {
    transform: scale(1.025);
  }
  
  .book-list-hero {
    max-height: #{"min(65vh, 430px)"};
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .book-list-title {
    padding-top: 1rem;
  }
  
  .book-box {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 33%;
    overflow: hidden;
  }
  
  .book-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-image-link {
    text-decoration: none;
  }
  
  .left-spacer, .hero-right {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
  }
  
  .hero-right {
    padding-left: 2vw;
  }
  
  #promotion {
    box-shadow: 0px -1px 3px gray;
  }
  
  .top-padding {
    padding-top: 5rem;
  } 
  
  .side-padding {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  #om, #kontakt {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  
  .section-title {
    text-align: center;
  }
  
  .middle {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
  
  .lower {
    margin-top: auto;
    margin-bottom: 0;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .min-size {
    min-height: 7rem;
  }
  
  .small-padding {
    padding: 1rem;
  }
  
  .book-title {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1;
  }
  
  .iphone-black {
    text-shadow: none !important;
  }
  
  @media only screen and (max-width: 888px) {
    body{
      background-size: #{"min(85%, 60vh)"};
      background-position: center bottom;
    }
  
    .left-spacer {
      display: none;
    }
  
    .hero-right {
      display: block;
      padding-left: 0;
    }
  
    .book-box {
      width: 100%;
    }
  
    .book-list-hero {
      width: auto;
      max-height: 50vh;
      padding-top: 1rem;
    }
  
    .main-nav.is-shrunken-nav {
      display: none;
    }
  
    .top-spacer.is-shrunken-nav {
      display: none;
    }
  
    .wrapper.is-shrunken-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    h1:not(.is-shrunken-nav) {
      font-size: 12vmin;
      padding-top: 6vh;
    }
  
    #breaker::after {
      content: " ";
    }
  
    .main-nav:not(.is-shrunken-nav) {
      padding-top: 3vh;
      padding-bottom: 5vh;
    }
  
    .name-nav, .main-nav {
      text-align: center;
    }
  
    .wrapper:not(.is-shrunken-nav) {
      grid-template-rows: auto 1fr;
    }
  
    .center-hero:not(.is-shrunken-nav) {
      padding-right: 0;
      display: inline-flex;
      flex-direction: column;
    }
  
    .top-spacer.is-shrunken-nav {
      display: none;
    }
  
    .center-hero.is-shrunken-nav {
      float: left;
      display: inline;
    }
  
    .bottom-arrow.is-shrunken-nav {
      display: inline;
      animation: none;
      margin: 13px 20px 0 0;
    }
  
    .bottom-arrow.is-x.is-shrunken-nav {
      padding-bottom: 0;
    }
  
    .down-arrow.is-x, .down-arrow.is-x:after {
      display: block;
      width: 40px;
    }
  
    .down-arrow.is-x {
      right: 0;
      border-radius: 0;
    }
  
    .down-arrow.is-x:after {
      position:absolute;
      transform-origin: 50% 50%;
      left: 0%;
      bottom: 0;
      border-radius: 0;
    }
  
    .down-arrow.is-shrunken-nav {
      transform: rotate(0deg);
      width: 40px;
      display: block;
      border-radius: 0;
    }
  
    .down-arrow.is-shrunken-nav:after {
      transform: rotate(0deg);
      width: 40px;
      display: block;
      bottom: -10px;
      left: auto;
      border-radius: 0;
    }
  
    .down-arrow.is-shrunken-nav:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 100%;
      display: block;
      top: -10px;
      border-radius: 0px;
      background: white;
    }
  
    .down-arrow.is-shrunken-nav.is-x {
      transform: rotate(-45deg);
      transform-origin: 50%
    }
  
    .down-arrow.is-shrunken-nav.is-x:after {
      transform: rotate(90deg) translate(-25%);
      transform-origin: 50%;
    }
  
    .down-arrow.is-shrunken-nav.is-x:before {
      width: 0;
    }
  
    .bottom-arrow.is-x {
      animation: none;
      padding-bottom: 6rem;
      z-index: 4;
    }
  
    #mobileMenu.is-displayed {
      display: flex;
      animation: fade-in 0.5s;
      position: fixed;
      z-index: 3;
      background: radial-gradient(circle 130vw, rgba(220, 220, 220, 1), rgba(220, 220, 220, 0.9));
      top: 0px;
      left: 0px;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: var(--rh);
      pointer-events: auto;
    }
  
    #mobileMenu.fade-out-time {
      animation: fade-out 0.5s;
    }
  
    .mobile-menu-nav {
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
      list-style-type: none;
      text-decoration: none;
    }
  
    .mobile-nav-link {
      font-size: 3rem;
      font-family: Avenir-Black, Arial Black,Arial Bold,Gadget,sans-serif; 
      color: white;
      text-shadow: 2px 2px 0px #000000;
      text-align: center;
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    #promotion {
      grid-template-rows: 1fr 6fr;
    }
  
    .book-wrapper {
      justify-content: center;
    }
  
    .book-blurb {
      padding-left: 0;
    }
  
    .book-image {
      margin: auto;
      width: inherit;
      padding-right: 0;
    }
  
    .book-image img {
      max-height: 50vh;
    }
  
    .book-hero {
      flex-direction: column;
    }
  
    h3 {
      font-size: 2rem;
      margin-block-start: 1.5rem;
      margin-block-end: 1rem;
    }
  
    #bookSpacer {
      min-height: calc(var(--rem) * 5);
    }
  
    .click-through-link {
      padding-bottom: 0.5rem;
      padding-top: 1rem;
      font-size: 1.25rem;
    }
  
    .book-title {
      margin-left: auto;
      margin-right: auto;
      padding-top: 2rem;
      text-align: center;
    }
  }
  
  @supports (-webkit-touch-callout: none) {
    .wrapper {
      mix-blend-mode: normal;
    }
  
    .iphone-black {
      color:black;
    }
  }
  
  @media only screen and (max-height:350px) {
    body {
      background-size: 30%;
    }
  
    .main-nav:not(.is-shrunken-nav) {
      display: none;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  