/**
 * Helpers
 */
.book-border {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.red {
  color: red;
}

.black {
  color: black;
}

.red, .black {
  margin-bottom: $spacing-unit * 0.125 !important;
}

.center {
  text-align: center;
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Margins and line-heights
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h3 {
  margin-bottom: 0;

  @include media-query($on-palm) {
    margin-bottom: auto;
  }
}

.hero-grid-pane h2 {
  line-height: $base-line-height * 2;
  @include media-query($on-palm) {
    line-height: $base-line-height;
  }
}

h6 {
  margin-bottom: $spacing-unit * 0.75 !important;
}

.review-attribution {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit * -0.25;
}



/**
 * `main` element
 */
main {
  display: block;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

nav {
  list-style-type: none;
}



/**
 * Headings
 */
h1, h2, h3, /*h4,*/ h5/*, h6*/ {
  text-transform: uppercase;
}

.book h6 {
  text-transform: none;
}

h1 {
  font-size: #{"min(5vw, 5rem)"};

  @include media-query($on-palm) {
    font-size: 12vmin;
    padding-top: $spacing-unit;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;

  @include media-query($on-palm) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: $base-font-weight * 0.5;
}

h5 {
  font-size: 1.25rem;
  font-weight: $base-font-weight * 0.5 !important;
  text-transform: none !important;
  color: $accent-color;
}

h6 {
  font-size: 1.5rem;
  color: $text-color !important;
  text-transform: lowercase;
}



/**
 * Links
 */
a {
  color: $accent-color;
  text-decoration: none;
  text-decoration-color: transparent;

  &:visited {
    color: $accent-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
    text-decoration-color: $accent-color;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.book-click-through {
  color: $text-color;

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline !important;
    text-decoration-color: $accent-color !important;
  }
}

.book-box:hover {
  .book-list-title h4 {
    text-decoration: underline !important;
    text-decoration-color: $accent-color !important;
  }
}

.main-nav {
  font-weight: $base-font-weight * 0.75 !important;
  text-transform: lowercase;
}

.main-nav a, .click-through-link {
  color: $text-color !important;
}

header, header a {
  color: $float-text-color !important;
}

.review-link {
  color: $text-color !important;
  text-decoration: underline !important;
  text-decoration-color: $accent-color !important;
  text-underline-offset: 0.125rem;

  &:visited {
    color: $text-color !important;
  }

  &:hover {
    color: $accent-color !important;
  }
}


/**
 * Section styling
 */
header {
  background-color: $float-background-color;
  /*backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  -moz-filter: blur(16px);
  -ms-filter: blur(16px);
  -o-filet: blur(16px);*/
}

.header-wrapper {
  border-bottom: 2px solid $accent-color;
}

.main-nav {
  font-size: $base-font-size * 1.5;
}

.header-nav-desktop {
  font-weight: $base-font-weight * 0.5;
  text-transform: lowercase;
}

.menu-nav-mobile {
  background-color: $menu-background-color;
}

.page-content h6 {
  margin-bottom: 12.5vh !important;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit * 1.5 !important;
  }
}



/**
 * Mobile menu and button
 */
 .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 4;
}

.line {
  fill: none;
  stroke-width: 6;
  transition: all 0.5s ease-in-out;
}

.line {
  stroke: $text-color;
}

.line1, .line2, .line3 {
  stroke-dasharray: 29.5 1000;
}

.opened .line1, .opened .line2, .opened .line3 {
  stroke-dasharray: 0.000001 29.9999999, 1000;
}

.mobile-nav {
  line-height: $base-line-height * 1.5;

  h3 {
    text-transform: lowercase;
  }
}



/**
 * Buy button
 */
.hero-buy {
  margin-bottom: $spacing-unit;
  background-color: transparent;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 0;
  padding: $spacing-unit / 4;
  cursor: pointer;

  &:hover {
    border-color: $accent-color;
    background-color: rgb(250, 250, 250);
    color: $accent-color;
  }
}
