<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="no-bg">

    <main class="book-list">
        {%- include header.html wrapperclasses = "sticky" -%}

        <div class="book-flex">
          {%- assign books = site.boeger | sort: "year" -%}
          {%- for book in books reversed -%}
              <div class="book-box">
                  <div class="book-list-image"><a link="book-image-link" href="{{ book.url }}"><img class="book-list-hero" src="{{ book.cover }}"></a></div>
                  <div class="book-list-title"><a class="click-through-link no-padding no-shrink-list" href="{{ book.url }}">{{ book.title }}</a></div>
              </div>
          {%- endfor -%}
        </div>
    </main>

  </body>

</html>