<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "dk" }}">

  {%- include head.html -%}

  <body class="flex">

    {%- include header.html wrapperclasses = "sticky" -%}

    <article class="book">

      <div class="book-horizontal-grid">
        <div class="hero-grid-left">
          <div class="hero-grid-pane">
            <div class="{%- if page.coverborder -%}book-image book-border{%- else -%}book-image{%- endif -%}">
              <img src="{{ page.cover | relative_url }}" alt="Cecilie Lind - {{ page.title }}" height="auto">
            </div>
          </div>
        </div>
        <div class="hero-grid-right">
          <div class="hero-grid-pane">
            <h6 class="book-title">{{ page.title }}</h6>
            <div class="book-talk">
              <div class="info-block">{{ page.publisher }}, {{ page.year }}</br>
              {{ page.type }}</div>
              {{ content }}
            </div>
            {%- include buy-link.html buylink = page.buy -%}
          </div>
        </div>
      </div>

      {%- include sidebar.html -%}

    </article>

  </body>

</html>