<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- include header.html wrapperclasses = "absolute hidden" -%}

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <body>

    <main class="scroll-container" id="scrollMain">
      {%- include hero-section.html -%}
      {%- include promotion.html -%}
      {%- if page_paths -%}
        {%- assign iterator = 1 -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            {%- if iterator == 1 -%}
              {%- assign iterator = iterator | plus: 1 -%}
              {%- continue -%}
            {%- else -%}
              <section id="{{my_page.title | downcase}}">
                <div class="flex justify-center min-size"><h3 class="lower">{{my_page.title}}</h3></div>
                <div class="flex"><div class="middle side-padding">{{my_page.content}}</div></div>
              </section>
              {%- assign iterator = iterator | plus: 1 -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </main>

  </body>

</html>