<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "dk" }}">

  {%- capture preloadlink -%}<link rel="preload" as="image" href="{{site.url}}/assets/cecilie-cover.jpg" />{%- endcapture -%}

  {%- include head.html preloads = preloadlink -%}

  {%- include header.html wrapperclasses = "hidden" -%}

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <body class="no-overflow bg">

    <main class="scroll-container">
      {%- include hero-section.html -%}
    </main>

  </body>

</html>